*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
 font-family: "Poppins", sans-serif;
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}
#form h1{
    color: #0f2027;
    text-align: center;
}
#form button{
    padding: 10px;
    margin-top: 25px;
    width: 100%;
    color: white;
    background-color: rgb(0, 30, 255);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
#form button:hover{
    background-color: rgb(41, 48, 104);
}
.inputControl{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.inputControl input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    padding: 10px;
}
.inputControl input:focus{
    outline: 1px solid blue;

}

.red{
    color: red; 
}
.green{
    color: green;
}

#error1, #error2, #error3, #error4{
    padding: 5px;
    height: 15px;

}


